# Creating Dataframes using pandas

In [1]:
import pandas as pd

# Using Dictionary 
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [8]:
# Using List
data = [['Ali', 45], ['Jack', 67], ['Shan', 78], ['Shoaib', 69]]

In [9]:
df = pd.DataFrame(data, columns=['Names', 'Marks'])

In [10]:
df

    Names  Marks
0     Ali     45
1    Jack     67
2    Shan     78
3  Shoaib     69

In [11]:
# Dictionary of lists
data = {'a' : [1,2,3], 'b': [6,7,8], 'c': [9, 10, 11]}

In [12]:
data

{'a': [1, 2, 3], 'b': [6, 7, 8], 'c': [9, 10, 11]}

In [13]:
df = pd.DataFrame(data)

In [14]:
df

   a  b   c
0  1  6   9
1  2  7  10
2  3  8  11

In [15]:
# using numpy array
import numpy as np
arr = np.array([[1,2,3], [4,5,6]])

df = pd.DataFrame(arr, columns=['A', 'B', 'C'])
df

   A  B  C
0  1  2  3
1  4  5  6

In [18]:
# Reading data from csv files
df = pd.read_csv('data.csv')

In [19]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [25]:
# Reading data from excel file
# data = pd.read_excel('data-excel.xlsx')

In [27]:
# Reading from json file
df = pd.read_json('data.json')

In [28]:
df

        name Language
0  Ali Ahmed   Python
1        Ali       Js