# Loops in python

In [1]:
arr = [1,2,3,4,5,6,7,8,9,10]

for item in arr:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [2]:
arr = [1,2,3,4,5,6,7,8,9,10]

for item in arr:
    if (item % 2 == 0):
        print(f'The Number {item} is Even Number')
    else:
        print(f'The Number {item} is Odd Number')

The Number 1 is Odd Number
The Number 2 is Even Number
The Number 3 is Odd Number
The Number 4 is Even Number
The Number 5 is Odd Number
The Number 6 is Even Number
The Number 7 is Odd Number
The Number 8 is Even Number
The Number 9 is Odd Number
The Number 10 is Even Number

In [3]:
marks = [22, 25, 26, 30, 45, 49]

for mark in marks:
    print(mark)

22
25
26
30
45
49

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
fruits = ['Apple', 'Banana', 'Pine Apple', 'Watermalon'];

In [18]:
for fruit in fruits:
    print(fruit)

Apple
Banana
Pine Apple
Watermalon

In [26]:
for fruit in fruits:
    if fruit == 'Banana':
        print(fruit)
        break
    print(fruit)

TypeError: 'str' object is not callable

## While Loop

In [15]:
count = 0

while count <= 5 :
    print(count)
    count += 1

0
1
2
3
4
5