In [1]:
import pandas as pd

In [3]:
# Series in pandas  :- A one-dimensional labeled array
s = pd.Series([10, 20, 30, 40, 50])

In [4]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
type(s)

pandas.core.series.Series

In [6]:
# Dataframe in pandas : Two Dimensional (like a spredsheet or sql table)
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

In [7]:
data

{'name': ['Alice', 'Bob', 'Charlie'],
 'age': [25, 30, 35],
 'city': ['Delhi', 'Mumbai', 'Bangalore']}

In [8]:
type(data)

dict

In [9]:
df = pd.DataFrame(data)

In [10]:
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.columns

Index(['name', 'age', 'city'], dtype='object')